In [1]:
!pwd

/Users/gbort/Applications/kaggle/integer-sequence-learning

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("data/train.csv")

In [4]:
train.head()

   Id                                           Sequence
0   3  1,3,13,87,1053,28576,2141733,508147108,4021352...
1   7  1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...
2   8  1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...
3  11  1,8,25,83,274,2275,132224,1060067,3312425,1099...
4  13  1,111,12211,1343211,147753211,16252853211,1787...

In [5]:
def split(seq):
    return seq.split(",")

train["SequenceList"] = train["Sequence"].apply(split)

In [6]:
train.head()

,Id,Sequence,SequenceList
0,3,"1,3,13,87,1053,28576,2141733,508147108,4021352...","[1, 3, 13, 87, 1053, 28576, 2141733, 508147108..."
1,7,"1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...","[1, 2, 1, 5, 5, 1, 11, 16, 7, 1, 23, 44, 30, 9..."
2,8,"1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...","[1, 2, 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 12..."
3,11,"1,8,25,83,274,2275,132224,1060067,3312425,1099...","[1, 8, 25, 83, 274, 2275, 132224, 1060067, 331..."
4,13,"1,111,12211,1343211,147753211,16252853211,1787...","[1, 111, 12211, 1343211, 147753211, 1625285321..."